# Ignore virtual environments
AutoPubMedRetriever/
.env/

# Byte-compiled files
*.pyc
__pycache__/

# Ignore IDE/editor specific files
.vscode/
.idea/
.code-workspace/

# Ignore OS-specific files
.DS_Store
Thumbs.db